option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
  aws:elasticbeanstalk:container:nodejs:
    NodeVersion: 18.17.0
    GzipCompression: true
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.micro
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /: index.html
    /style.css: style.css
    /script.js: script.js 